
services:
  mariadb:
    build:                     
      context: ./requirements/mariadb 
      dockerfile: Dockerfile 
    container_name: mariadb 
    env_file: .env    
    secrets:
      - db_password
      - db_root_password
    environment:
      
      MARIADB_DATABASE: ${SQL_DATABASE}
      MARIADB_USER: ${SQL_USER}
    volumes:                   
      - mariadb_data:/var/lib/mysql
    networks:  
      - inception
    restart: unless-stopped  

  wordpress:
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    container_name: wordpress
    env_file: .env
    volumes:
      - wordpress_data:/var/www/html  
    networks:
      - inception
    secrets:
      - wp_password
      - wp_admin_password
      - db_password
      - db_root_password

    depends_on:
      - mariadb  
    restart: unless-stopped

  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    container_name: nginx
    env_file: .env
    ports:
      - "443:443"           
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress        
    restart: unless-stopped

volumes:
  mariadb_data:
  wordpress_data:

networks:
  inception:
    driver: bridge     

secrets:
  db_password:
    file: /home/userthom/vault/db_password.txt
  db_root_password:
    file: /home/userthom/vault/db_root_password.txt
  wp_password:
    file: /home/userthom/vault/wp_password.txt
  wp_admin_password:
    file: /home/userthom/vault/wp_admin_password.txt